---
title: EDU-Überprüfung
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: HT
ms.contentlocale: de-DE
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814371"
---
# <a name="edu-verification"></a><span data-ttu-id="c56de-102">EDU-Überprüfung</span><span class="sxs-lookup"><span data-stu-id="c56de-102">EDU verification</span></span>

<span data-ttu-id="c56de-103">In den meisten Fällen werden Anträge zur Überprüfung der Bezugsberechtigung innerhalb von 24–48 Stunden bearbeitet.</span><span class="sxs-lookup"><span data-stu-id="c56de-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="c56de-104">Einige Anträge erfordern möglicherweise eine gründlichere Prüfung und können bis zu 10 Werktage in Anspruch nehmen.</span><span class="sxs-lookup"><span data-stu-id="c56de-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="c56de-105">Nach Abschluss senden wir Ihnen eine E-Mail mit dem Berechtigungsstatus ihrer Schule.</span><span class="sxs-lookup"><span data-stu-id="c56de-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="c56de-106">**Wichtig** Wenn Sie den Überprüfungsassistenten vor der Eingabe einer Domäne verlassen haben, können Sie jederzeit [den Überprüfungsassistenten für die Überprüfung der Bezugsberechtigung](https://go.microsoft.com/fwlink/p/?linkid=2135255)mit der kostenlosen Testversion fortsetzen.</span><span class="sxs-lookup"><span data-stu-id="c56de-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="c56de-107">Wenn Sie den Status Ihrer Domäne überprüfen möchten, wechseln Sie zum [Microsoft 365 Admin Center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="c56de-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="c56de-108">Scrollen Sie auf der Startseite nach unten, und suchen Sie nach der Karte **Abrechnung**.</span><span class="sxs-lookup"><span data-stu-id="c56de-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="c56de-109">Die Karte **Abrechnung** zeigt den Status des Überprüfungsvorgangs an (genehmigt, ausstehend, abgelehnt, Domäne hinzufügen).</span><span class="sxs-lookup"><span data-stu-id="c56de-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="c56de-110">Wenn Ihr Antrag abgelehnt wurde, lesen Sie [Meine Schule ist nicht berechtigt. Was muss ich jetzt tun?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="c56de-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>