---
title: 8000038 dsgvo untergeordnetes Konto Überprüfung
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: de-DE
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764979"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Das in Ihrem Microsoft-Konto angezeigte Geburtsdatum ist falsch.

Microsoft berücksichtigt die Kontosicherheit sehr ernst. Möglicherweise wurden Sie vor kurzem aufgefordert, die elterliche Zustimmung für das Microsoft-Konto eines Unternehmens anzugeben. Wenn Sie Hilfe bei der Bereitstellung der elterlichen Zustimmung oder beim Aktualisieren des Geburtsdatums eines Microsoft-Kontos benötigen, lesen Sie bitte die [Altersüberprüfung für die elterliche Zustimmung](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Erfahren Sie mehr über die [elterliche Zustimmung und die Microsoft-untergeordneten Konten](https://go.microsoft.com/fwlink/p/?linkid=874365).
  