---
title: 8000038 dsgvo untergeordnetes Konto Überprüfung
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 035004602a439335380ec72ea65fd1bd70ebbf0d
ms.sourcegitcommit: 5fb7a4b28859690020efdea630d03e70cc0e6334
ms.translationtype: MT
ms.contentlocale: de-DE
ms.lasthandoff: 06/28/2019
ms.locfileid: "35387056"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Das in Ihrem Microsoft-Konto angezeigte Geburtsdatum ist falsch.

Microsoft berücksichtigt die Kontosicherheit sehr ernst. Möglicherweise wurden Sie vor kurzem aufgefordert, die elterliche Zustimmung für das Microsoft-Konto eines Unternehmens anzugeben. Wenn Sie Hilfe bei der Bereitstellung der elterlichen Zustimmung oder beim Aktualisieren des Geburtsdatums eines Microsoft-Kontos benötigen, lesen Sie bitte die [Altersüberprüfung für die elterliche Zustimmung](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Erfahren Sie mehr über die [elterliche Zustimmung und die Microsoft-untergeordneten Konten](https://go.microsoft.com/fwlink/p/?linkid=874365).
  