---
title: 8000038 DSGVO Child-Kontoüberprüfung
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom: 8000038
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: c664adf9fdb0306b3407a5c23628aa4c7bbd5b83
ms.sourcegitcommit: 9d78905c512192ffc4675468abd2efc5f2e4baf4
ms.translationtype: MT
ms.contentlocale: de-DE
ms.lasthandoff: 04/23/2019
ms.locfileid: "32400968"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Das in Ihrem Microsoft-Konto angezeigte Geburtsdatum ist falsch

Microsoft berücksichtigt die Kontosicherheit sehr ernst. Möglicherweise wurden Sie vor kurzem aufgefordert, die Zustimmung der Eltern für das Microsoft-Konto eines Kindes anzugeben. Wenn Sie Hilfe bei der Bereitstellung der elterlichen Zustimmung oder der Aktualisierung des Geburtsdatums eines Microsoft-Kontos benötigen, lesen Sie die [Altersüberprüfung für die Zustimmung der Eltern](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Erfahren Sie mehr über die [Einwilligung der Eltern und Microsoft-Kinderkonten](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

