---
title: 8000038 dsgvo untergeordnetes Konto Überprüfung
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 6ad5de2c3595c775d7b5080c2ac116dd002e6777
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: de-DE
ms.lasthandoff: 09/14/2020
ms.locfileid: "47707962"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="7aaca-102">Das in Ihrem Microsoft-Konto angezeigte Geburtsdatum ist falsch.</span><span class="sxs-lookup"><span data-stu-id="7aaca-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="7aaca-103">Microsoft berücksichtigt die Kontosicherheit sehr ernst.</span><span class="sxs-lookup"><span data-stu-id="7aaca-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="7aaca-104">Möglicherweise wurden Sie vor kurzem aufgefordert, die elterliche Zustimmung für das Microsoft-Konto eines Unternehmens anzugeben.</span><span class="sxs-lookup"><span data-stu-id="7aaca-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="7aaca-105">Wenn Sie Hilfe bei der Bereitstellung der elterlichen Zustimmung oder beim Aktualisieren des Geburtsdatums eines Microsoft-Kontos benötigen, lesen Sie bitte die [Altersüberprüfung für die elterliche Zustimmung](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="7aaca-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="7aaca-106">Erfahren Sie mehr über die [elterliche Zustimmung und die Microsoft-untergeordneten Konten](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="7aaca-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  