---
title: Problembehandlung bei Publisher-Überprüfung
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: HT
ms.contentlocale: de-DE
ms.lasthandoff: 01/15/2021
ms.locfileid: "49875396"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Probleme bei der Publisher-Überprüfung für Publisher

**Empfohlene Schritte** 

Um Probleme im Zusammenhang mit der Publisher-Überprüfung zu lösen, führen Sie die folgenden Schritte aus:

1. Überprüfen Sie die Voraussetzungen und andere Anforderungen, um sicherzustellen, dass alle erfüllt sind.
2. Überprüfen Sie die Anweisungen, um [eine App als vom Herausgeber überprüft zu kennzeichen ](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) und um sicherzustellen, dass alle Schritte erfolgreich durchgeführt wurden.
3. Überprüfen Sie die Liste [häufiger Probleme](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) und befolgen Sie die empfohlenen Schritte, wenn Sie ein Problem aus einer solchen Liste haben.
4. Reproduzieren Sie die Anfrage, indem Sie [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) verwenden, um zusätzliche Informationen zu sammeln und jegliche Probleme in der Benutzeroberfläche auszuschließen.

**Empfohlene Dokumente**

- [Publisher-Überprüfung – Übersicht](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Markieren Sie Ihre App als vom Herausgeber überprüft](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Problembehandlung bei Publisher-Überprüfung](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

