---
title: Problembehandlung bei Publisher-Überprüfung
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: HT
ms.contentlocale: de-DE
ms.lasthandoff: 01/15/2021
ms.locfileid: "49875396"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="e36b2-102">Probleme bei der Publisher-Überprüfung für Publisher</span><span class="sxs-lookup"><span data-stu-id="e36b2-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="e36b2-103">**Empfohlene Schritte**</span><span class="sxs-lookup"><span data-stu-id="e36b2-103">**Recommended steps**</span></span> 

<span data-ttu-id="e36b2-104">Um Probleme im Zusammenhang mit der Publisher-Überprüfung zu lösen, führen Sie die folgenden Schritte aus:</span><span class="sxs-lookup"><span data-stu-id="e36b2-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="e36b2-105">Überprüfen Sie die Voraussetzungen und andere Anforderungen, um sicherzustellen, dass alle erfüllt sind.</span><span class="sxs-lookup"><span data-stu-id="e36b2-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="e36b2-106">Überprüfen Sie die Anweisungen, um [eine App als vom Herausgeber überprüft zu kennzeichen ](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) und um sicherzustellen, dass alle Schritte erfolgreich durchgeführt wurden.</span><span class="sxs-lookup"><span data-stu-id="e36b2-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="e36b2-107">Überprüfen Sie die Liste [häufiger Probleme](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) und befolgen Sie die empfohlenen Schritte, wenn Sie ein Problem aus einer solchen Liste haben.</span><span class="sxs-lookup"><span data-stu-id="e36b2-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="e36b2-108">Reproduzieren Sie die Anfrage, indem Sie [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) verwenden, um zusätzliche Informationen zu sammeln und jegliche Probleme in der Benutzeroberfläche auszuschließen.</span><span class="sxs-lookup"><span data-stu-id="e36b2-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="e36b2-109">**Empfohlene Dokumente**</span><span class="sxs-lookup"><span data-stu-id="e36b2-109">**Recommended documents**</span></span>

- [<span data-ttu-id="e36b2-110">Publisher-Überprüfung – Übersicht</span><span class="sxs-lookup"><span data-stu-id="e36b2-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="e36b2-111">Markieren Sie Ihre App als vom Herausgeber überprüft</span><span class="sxs-lookup"><span data-stu-id="e36b2-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="e36b2-112">Problembehandlung bei Publisher-Überprüfung</span><span class="sxs-lookup"><span data-stu-id="e36b2-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

